<div class="form-control form-risk" (click)="onSelect()" *ngIf="totalSelected == 0">
    ความเสี่ยงสุขภาพ
</div>
<div class="form-control form-risk" (click)="onSelect()" *ngIf="totalSelected != 0">
    {{totalSelected}} ความเสี่ยง
</div>
<div class="risk-selector-container" *ngIf="isOpen">
    <div class="row">
        <div class="tabSec">
            <h6 class="risk-title">ความเสี่ยงสุขภาพ</h6>
            <div class="risk">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="risks.smoking" (change)="change()"> การสูบบุหรี่
                </label>
            </div>
            <div class="risk">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="risks.drinking" (change)="change()"> ดื่มสุรา
                </label>
            </div>
            <div class="risk">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="risks.safesex" (change)="change()"> เคยมีโรคติดต่อทางเพศสัมพันธ์
                </label>
            </div>
        </div>
        <div class="tabSec">
            <h6 class="risk-title">ประวัติในครอบครัว</h6>
            <div class="risk">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="fams.diabetes" (change)="change()"> โรคเบาหวาน
                </label>
            </div>
            <div class="risk">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="fams.heart" (change)="change()"> โรคหัวใจ
                </label>
            </div>
            <div class="risk">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="fams.bp" (change)="change()"> ความดันโลหิตสูง
                </label>
            </div>
            <div class="risk">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="fams.fat" (change)="change()"> ไขมันผิดปกติ
                </label>
            </div>
            <div class="risk">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="fams.bone" (change)="change()"> กระดูกพรุน หรือ กระดูกหักในครอบครัว
                </label>
            </div>
        </div>
        <div class="tabSec">
            <h6 class="risk-title">มะเร็งในครอบครัว</h6>
            <div class="risk">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="cancer.breast" (change)="change()"> มะเร็งเต้านม
                </label>
            </div>
            <div class="risk">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="cancer.ovary" (change)="change()"> มะเร็งรังไข่
                </label>
            </div>
            <div class="risk">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="cancer.intestine" (change)="change()"> มะเร็งลำไส้
                </label>
            </div>
        </div>
        <!-- <div class="col-3">
            <h6 class="risk-title">เพิ่มเติม</h6>
            <div class="risk">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="others.cancer" (change)="change()"> คัดกรองมะเร็ง
                </label>
            </div>
            <div class="risk">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="others.vaccine" (change)="change()"> ฉีดวัคซีน
                </label>
            </div>
            <div class="risk">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="others.allergy" (change)="change()"> ตรวจภูมิแพ้
                </label>
            </div>
            <div class="risk">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="others.marriage" (change)="change()"> ตรวจสุขภาพก่อนแต่งงาน
                </label>
            </div>
            <div class="risk">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="others.teeth" (change)="change()"> ตรวจฟันประจำปี
                </label>
            </div>
            <div class="risk">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="others.elderly" (change)="change()"> ตรวจสุขภาพชะลอวัย
                </label>
            </div>
            <div class="risk">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="others.contact" (change)="change()"> ปรึกษาแพทย์
                </label>
            </div>
        </div> -->
    </div>
    <div class="link-container">
        <a class="text-style1" (click)="clear()">ล้าง</a>
        <a class="text-style2" (click)="onSelect()">นำไปใช้</a>
    </div>
</div>
